body {
    margin: 0;
    padding: 0;
    background-color: rgb(27, 25, 34);
}

h1{
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
  
  h2{
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  h3{
    text-align: center;
    color: #ffffff;
    font-weight: normal;
  }

  h6{
    text-align: center;
    font-weight: 2;
    margin: 0px auto 0 auto;
    padding: 0;
    color: #ffffff;
  }

  .excaption{
    text-align: center;
    font-weight: 1;
    margin: 0px auto 0 auto;
    padding: 0;
    color: #ffffff;
  }

  .ex{
    top: 10%;
    left: 10%;

    margin: 10px;
  }

  .tower{
    top: 10%;
    left: 10%;

    margin: 10px;
  }

  .bio2{
    text-align: center;
    width: 500px;
    font-weight: 1;
    margin: 0px auto 0 auto;
    padding: 0;
    color: #ffffff;
  }

  .lvl2{
    font-weight: 1;
    margin: 0px auto 0 auto;
    padding: 0;
    color: #ffffff;
  }

  .lvl3{
    font-weight: 1;
    margin: 0px auto 0 auto;
    padding: 0;
    color: #ffffff;
  }

  

p{
    text-align: center;
    line-height: 2;
    font-weight: 1;
    margin: 0px auto 0 auto;
    padding: 0;
    color: #ffffff;
  }

footer {
    bottom: 0;
    text-align: center;
    color: #ffffff;
    height: 30px;
    width: 100%;
    margin: 0px;
    padding: 0;
}